<header class="header">
  <nav class="header__nav">
    <ul class="header__nav-list">
      <li class="header__nav-item header__nav-item--mobile">
        <div class="menu-btn">
          <div class="btn-line"></div>
          <div class="btn-line"></div>
          <div class="btn-line"></div>
        </div>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="./index.html">Inicio</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="./filmografia.html">Filmografia</a>
      </li>
      <img class="header__logo" width="250px" src="././assets/images/logo-clint.svg" alt="Logo Clint Eastwood" />
      <li class="header__nav-item">
        <a class="header__nav-link" href="./presentation.html">Presentación</a>
      </li>
      <li class="header__nav-item">
        <a class="header__nav-link" href="./enlaces.html">Enlaces</a>
      </li>
    </ul>
    <nav class="menu">
      <ul>
        <li><a href="./index.html">Inicio</a></li>
        <li><a href="./filmografia.html">Filmografia</a></li>
        <li><a href="./presentation.html">Presentación</a></li>
        <li><a href="./enlaces.html">Enlaces</a></li>
      </ul>
    </nav>
  </nav>
</header>